#progress{
	height:1em;
	width:20em;
}
.preview{
	max-width:40em;
	max-height:20em;

}
.navbar-header > h3{
	color: white;
}
.jumbotron{
	margin-top: 2em;
}
#output {
	height:20em;
	width:40em;
	white-space: nowrap;
}
#output-url{
	width:60em;
	display: none;
}

#output-helper{
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  direction: ltr;
  cursor: pointer;
}